body {
    display: flex;
    background-color: rgb(123, 226, 100);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 99vh;
    justify-content: center; 
    align-items: center; 
}

/* Estilo para o formulário */
form {
    
    display: flex;
    background-color: rgb(164, 228, 150);
    padding: 20px;
    width: 300px;
    border-style: solid;
    flex-direction: column; 
    border-radius: 5px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    text-indent: 10px;
}
/* Estilo do input */
input{
    padding: 10px;
    border-radius: 5px;
    border:none;
}
/* Estilo para o botão */
input[type="submit"]{
    background-color: rgb(111, 204, 68);
    cursor:pointer;
    transition: background-color 0.3s;
    width: 150px; 
    height: 40px;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
/* Estilo do botão ao passar o mouse */
input[type="submit"]:hover{
    background-color:rgb(84, 187, 59);
    color:white;
}
