
.body-login {
    display: flex;
    background-color: rgb(123, 226, 100);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 99vh;
    justify-content: center; 
    align-items: center; 
}

.body-inicial {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FAF3E0;
}

.header-principal {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #A8D5BA;
    border-bottom: 5px solid rgb(40, 172, 40);
}

.header-logo {
    margin-right: auto;
    align-items: center;
    
}

.header-name{
    text-align: center;
    color: white;
    padding: 15px;
}

.topnav-item{
    padding: 18px 20px;
    text-align: center;
    background-color: #4CAF50;
    color: #FFFFFF;
    margin: 0;
    border-radius: 5px;
    text-decoration: none;
}
.topnav-item:hover{
    background-color: #1b831f;
}

.footer-principal{
    display: flex;
    background-color: #2E7D32;
    margin-top: auto;
    flex-direction: row;
    justify-content: space-around;
    color:#FFFFFF;
    align-items: center;
    flex-wrap: wrap;
}

.footer-principal section{
    flex: 0 0 30%;
    padding: 16px;
    height: 200px;
}

.footer-titulo{
    font-size: 26px;
    padding: 0 35px;
    margin: 20px 20px;
}

.footer-section-subtitulo{
    font-size: 20px;
}

.footer-principal ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-principal li{
    font-size: 18px;
    color: #b9b9b9;
    padding: 4px 0;
}

.footer-principal a{
    text-decoration: none;
    color: #e7e7e7;
}


.rodapeImg{
    display:flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 20px 40px;
}

.textRodape{
    display: flex;
    align-self: flex-end;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    background-color: #143b15;
    font-size: medium;
    margin-top: 25px;
}

.contato{
    color:#FFFFFF;
}

.blog-post-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
}

.blog-post-section a{
    text-decoration: none;
    color: black;
}

.blog-post-item{
    padding: 10px 20px;
    gap: 20px;
    flex: 0 0 30%;
}

.blog-post-item img{
    width: 100%;
  height: 275px;
  object-fit: cover;
  border: 1px solid rgb(34, 57, 26);
  border-radius: 10px;
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
}

.tituloPagPrincipal{
    justify-content: center;
    align-items: center;
}

.barra-pesquisa{
    width: 33%;
    margin: 50px 30px;
    font-size: medium;
}

.menu-lateral {
    background-color: #f2f2f2;
    padding: 10px;
    justify-content: center;
    display: flex;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.post img {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    object-fit: cover;
}

.post h2 {
    text-align: center;
}

.material-symbols-outlined{
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    color:#2E7D32;
}

nav ul li a:hover{
    color:#76B041;
}
/* Estilo para o formulário */
form {
    
    display: flex;
    background-color: rgb(164, 228, 150);
    padding: 20px;
    width: 300px;
    border-style: solid;
    flex-direction: column; 
    border-radius: 5px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    text-indent: 10px;
}
/* Estilo do input */
input{
    padding: 10px;
    border-radius: 5px;
    border:none;
}
/* Estilo para o botão */
input[type="submit"]{
    background-color: rgb(111, 204, 68);
    cursor:pointer;
    transition: background-color 0.3s;
    width: 150px; 
    height: 40px;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
/* Estilo do botão ao passar o mouse */
input[type="submit"]:hover{
    background-color:rgb(84, 187, 59);
    color:white;
}
