
.body-login {
    display: flex;
    background-color: rgb(123, 226, 100);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 99vh;
    justify-content: center; 
    align-items: center; 
}

.body-inicial {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header-principal {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(64, 66, 64);
}

.header-logo {
    margin-right: auto;
    
}

.header-name{
    text-align: center;
    color: white;
    padding: 15px;
}

.topnav-item{
    padding: 18px 20px;
    text-align: center;
    background-color: rgb(80, 168, 29);
    margin: 0;
}

.footer-principal{
    background-color: rgb(34, 87, 60);
    margin-top: auto;
}

.blog-post-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

.blog-post-item{
    padding: 0px 20px;
}

.barra-pesquisa{
    margin: 50px 30px;
    font-size: medium;
}

/* Estilo para o formulário */
form {
    
    display: flex;
    background-color: rgb(164, 228, 150);
    padding: 20px;
    width: 300px;
    border-style: solid;
    flex-direction: column; 
    border-radius: 5px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    text-indent: 10px;
}
/* Estilo do input */
input{
    padding: 10px;
    border-radius: 5px;
    border:none;
}
/* Estilo para o botão */
input[type="submit"]{
    background-color: rgb(111, 204, 68);
    cursor:pointer;
    transition: background-color 0.3s;
    width: 150px; 
    height: 40px;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
/* Estilo do botão ao passar o mouse */
input[type="submit"]:hover{
    background-color:rgb(84, 187, 59);
    color:white;
}